@model ManagerMessageFb.Models.ChatViewModels
@{
    ViewBag.Title = "Index";


}

<h2>Quản trị viên B</h2>
@foreach (var user in Model.userViews)
{
    <a href="/chat/getmessage?a=@user.userMessage&b=@Model.id" target="_blank"><h4>@user.userMessage</h4></a>
    <hr />
}

